/SquirrelTrees/UserSettings/AndroidLogcatSettings.asset
/SquirrelTrees/UserSettings/Layouts/*.dwlt
/SquirrelTrees/UserSettings/Search.*
/SquirrelTrees/Assets/Plugins/*~
/SquirrelTrees/Assets/Plugins/
/SquirrelTrees/Assets/Resources/DOTweenSettings.asset
/SquirrelTrees/Assets/Resources/DOTweenSettings.asset.meta
